///
/// Horizontal Bar Component
/// Matches the style of header.major underlines
///

/* Horizontal Bar */

	.hr-bar {
		margin: _size(element-margin) 0;
		
		.hr-bar-line {
			background-color: _palette(fg-bold);
			display: inline-block;
			height: 2px;
		}

		// Style variants
		&.accent1 .hr-bar-line { background-color: _palette(accent1); }
		&.accent2 .hr-bar-line { background-color: _palette(accent2); }
		&.accent3 .hr-bar-line { background-color: _palette(accent3); }
		&.accent4 .hr-bar-line { background-color: _palette(accent4); }
		&.accent5 .hr-bar-line { background-color: _palette(accent5); }
		&.accent6 .hr-bar-line { background-color: _palette(accent6); }
		&.highlight .hr-bar-line { background-color: _palette(highlight); }
		&.light .hr-bar-line { background-color: _palette(fg-light); }

		// Size variants
		&.thin .hr-bar-line { height: 1px; }
		&.thick .hr-bar-line { height: 4px; }

		// Spacing variants
		&.major {
			margin: (_size(element-margin) * 1.5) 0;
		}

		&.minor {
			margin: (_size(element-margin) * 0.5) 0;
		}

		&.compact {
			margin: (_size(element-margin) * 0.25) 0;
		}
	}

